{% trans_default_domain 'FOSUserBundle' %} {% extends 'base.html.twig' %} {% block body %} {% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="toregister">
    <div class="logginpage">
        <div class="registerside">
            <h2 class="inscription">Se connecter</h2>
        </div> <br>
        <form action="{{ path('fos_user_security_check') }}" method="post">
            {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /> {% endif %}

            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
            <br><br>
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
            <br><br>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <br>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /> <br>
        </form><br>
    </div>
    <div class="registerside">
        <h2 class="inscription">Créer un compte</h2><br>
        <a href="{{path('artisan_new')}}" target="_blank"><button type="button" class="btn btn-outline-secondary">Artisan</button></a> <br><br>
        <a href="{{path('customer_new')}}" target="_blank"><button type="button" class="btn btn-outline-secondary">Client</button></a>

    </div>
</div>
{% endblock %}