{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
     <div class="bg-light p-3">
       <h1>Votre panier</h1>
   <ul class="nav ">
         <li class="nav-item">
            <a class="nav-link active text-dark" href="{{path('home')}}">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link text-dark" href="{{path('products_main_page')}}">Product</a>
         </li>
         <li class="nav-item">
            <a class="nav-link text-dark" href="{{path('artisan')}}"> Artisan</a>
         </li>
   </ul>
     <div>
       {% if items | length > 0 %}
         <table class="table">
            <thead>
               <tr>
                  <th>Produits</th>
                  <th>Prix</th>
                  <th>Quantité</th>
                  <th>Reference</th>
                  <th>Materiel</th>
                  <th>Description</th>
                  <th>Total</th>
                  <th>
                  </th>
               </tr>
            </thead>
            <tbody>
                {% for item in items %}
                   <tr>
                     <td>{{item.product.name}}</td>
                     <td>{{item.product.price}}</td>
                     <td>{{item.quantity}}</td>
                     <td>{{item.product.reference}}</td>
                     <td>{{item.product.materials}}</td>
                     <td>{{item.product.description}}</td>
                     <td>{{item.product.price}}</td>
                     <td><a href="{{path('products_main_page')}}" class="btn btn-success">Ajouter</a></td>
                     <td><a href="{{ path('cart_remove', {'id': item.product.id}) }} " class="btn btn-danger">Remove</a></td>
                   </tr>
                {% endfor %}
            </tbody>
            <tfoot>
               <tr>
                 <td colspan="6" class="text-right">Total :</td>
                 <td>{{ total}}</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
              </tr>
              <tr>
               <td colspan="7" class="text-right"><a href="{{path('paie_finale')}}" class="btn btn-info float-">
               <i class="fa fa-shopping-cart"></i> Valider</a></td>
            </tr>
            </tfoot>  
         </table>
        {% else %}
            <p>Mon panier est vide</p>
       {% endif %}
{% endblock %}

