{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
     <div class="bg-light p-3">
       <h1>Votre panier</h1>
   <ul class="nav ">
         <li class="nav-item">
            <a class="nav-link active text-dark" href="#">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link text-dark" href="{{path('products_main_page')}}">Product</a>
         </li>
         <li class="nav-item">
            <a class="nav-link text-dark" href="#">Artisan</a>
         </li>
   </ul>
     <div>
      
       {% if items | length > 0 %}
         <table class="table">
            <thead>
               <tr>
                  <th>Produits</th>
                  <th>reference</th>
                  <th>Prix</th>
                  <th>materials</th>
                  <th>stock</th>
                  <th>description</th>
                  <th>Total</th>
                  <th>
                  </th>
               </tr>
            </thead>
            <tbody>
                {% for item in items %}
                   <tr>
                     <td>{{item.product.name}}</td>
                     <td>{{item.product.reference}}</td>
                     <td>{{item.product.price}}</td>
                     <td>{{item.product.materials}}</td>
                     <td>{{item.product.stock}}</td>
                     <td>{{item.product.description}}</td>
                     <td>{{item.product.price * item.product.stock }}</td>
                     <td>
                        <a href="{{path('cart_remove',{'id':item.product.id })}}" class="btn btn-danger.btn-sm">
                            <i class="fas.fa-trash"></i>
                      </a>
                     </td>
                   </tr>
                {% endfor %}
            </tbody>
            <tfoot>
               <tr>
                 <td colspan="6" class="text-right">Total :</td>
                 <td>{{ total}}</td>
                 <td></td>
                 <td></td>
               </tr>
            </tfoot>
         </table>
        {% else %}
            <p>Mon panier est vide</p>
       {% endif %}
{% endblock %}
