{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}

    <header>
        <hr class="lign mt-5">
        <h1 class="titleartisan">L'équipe</h1>
        <hr class="lign">
    </header>
{# <img class='teamTof' src="https://picsum.photos/seed/picsum/800/600" alt=""> #}



<div class="row teamWindow my-0 mx-0">
    <div class="col-lg-5 col-md-3 col-xs-12 col-xm-12">
        <div class="row teamTof" id="colHover1">
            <div class="col" id="infoImg1"></div>
            <div class="col" id="infoImg2"></div>
            <div class="col" id="infoImg3"></div>
            <div class="col" id="infoImg4"></div>
            <div class="col" id="infoImg5"></div>
        </div>
    </div>
        
        <div class="line mt-5"></div>
{# teamate 1 #}
    <div class="col-lg-6 col-md-4 col-xs-12 col-xm-12">
        <div class=" my-2">
            <div class=" row infoTeam1 infoHidden mt-1">
                <div class="col">
                    <h2 class="  mb-3 mt-5 pProjet">Salif</h2>

                    <div class="desc my-5 pProjet"> Le gars discret de l'équipe. Aucune chance qu'il vous donne son avis à moins que vous le lui demandiez. Il prend son temps, mais pour faire les choses bien. </div>
                    
                    <div class="timinfo">
                        <label for="" class="pProjet">Rôle sur le projet</label>
                        <div class='roleprojet pProjet'>Les pages concernant les mentions légales, gestion de notre système de cookies et du panier</div>
                    </div>

                    <div class='d-flex mt-6 justify-content-around sociconDiv'>
                        <span >
                            <img  class='socicons'src="{{asset('img/email.png')}}" alt="email icon">
                            <a href="mailto:eric.narbo@gmail.com" class='pProjet'>castor@queuplate.fr</a>
                            </span>
                        <span ><img  class='socicons pProjet'src="{{asset('img/tel.png')}}" alt="tel icon"> 07.53.63.69.23</span>
                        <span >
                        <img  class='socicons3 mx-2 mt-1'src="{{asset('img/linked.png')}}" alt="linkedIn icon">
                        <a href="linkedin.com/in/eric-narbo-48a007198" class="pProjet">Visiter</a>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3 flip flip-card">
                    <div class='front Head'>  <img class="img-fluid  al3 rounded-circle" src="https://picsum.photos/seed/picsum/300/300" alt=""></div> 
                    <div class='back Head'>  <img class="img-fluid  div1 rounded-circle" src="https://picsum.photos/id/237/300/300" alt=""></div>     
                </div>
            </div>
        </div>
{# teamate 2 #}
        <div class=" my-2">
            <div class=" row infoTeam2 infoHidden mt-1">
                <div class="col">
                    <h2 class="  mb-3 mt-5 pProjet">Mounir</h2>

                    <div class="desc my-5 pProjet">Trop lui parler le matin ou lui piquer un Granola, seuls sacrilèges capables d'altérer la bonne humeur de Mounir. Et en plus il est créatif. Le titre du site, c'est lui.</div>
                    
                    <div class="timinfo">
                        <label for="" class="pProjet">Rôle sur le projet</label>
                        <div class='roleprojet pProjet'>Le gros de la partie Back-end du site. Création de la base de données, gestion des utilisateurs tout ça tout ça.</div>
                    </div>

                    <div class='d-flex mt-6 justify-content-around sociconDiv'>
                        <span >
                            <img  class='socicons'src="{{asset('img/email.png')}}" alt="email icon">
                            <a href="mailto:eric.narbo@gmail.com" class="pProjet">castor@queuplate.fr</a>
                            </span>
                        <span ><img  class='socicons'src="{{asset('img/tel.png')}}" alt="tel icon"> 07.53.63.69.23</span>
                         <span >
                        <img  class='socicons3 mx-2 mt-1'src="{{asset('img/linked.png')}}" alt="linkedIn icon">
                        <a href="linkedin.com/in/eric-narbo-48a007198" class="pProjet">Visiter</a>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3 flip flip-card">
                    <div class='front Head'>  <img class="img-fluid  al3 rounded-circle" src="https://picsum.photos/seed/picsum/300/300" alt=""></div> 
                    <div class='back Head'>  <img class="img-fluid  div1 rounded-circle" src="https://picsum.photos/id/237/300/300" alt=""></div>     
                </div>
            </div>
        </div>
{# teamate 3 #}
        <div class="my-2">
            <div class=" row infoTeam3 infoHidden mt-1">
                <div class="col">
                    <h2 class="  mb-3 mt-5 pProjet">Anémone</h2>

                    <div class="desc my-5 pProjet"> La touche élégeance de la team. Vu qu'elle déteste les compliments, nous ne parlerons ni de son sourire, ni de sa maturité, ni de sa force de travail. Oula non... trop peur. </div>
                    
                    <div class="timinfo">
                        <label for="" class"pProjet">Rôle sur le projet</label>
                        <div class='roleprojet pProjet'> La gestion de nos artisans tant sur la partie front que back-end, c'est elle. La page Partenaires et le logo du site aussi.</div>
                    </div>

                    <div class='d-flex mt-6 justify-content-around sociconDiv'>
                        <span >
                            <img  class='socicons'src="{{asset('img/email.png')}}" alt="email icon">
                            <a href="mailto:eric.narbo@gmail.com" class="pProjet">castor@queuplate.fr</a>
                            </span>
                        <span ><img  class='socicons pProjet'src="{{asset('img/tel.png')}}" alt="tel icon"> 07.53.63.69.23</span>
                         <span >
                        <img  class='socicons3 mx-2 mt-1'src="{{asset('img/linked.png')}}" alt="linkedIn icon">
                        <a href="linkedin.com/in/eric-narbo-48a007198" class="pProjet">Visiter</a>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3 flip flip-card">
                    <div class='front Head'>  <img class="img-fluid  al3 rounded-circle" src="https://picsum.photos/seed/picsum/300/300" alt=""></div> 
                    <div class='back Head'>  <img class="img-fluid  div1 rounded-circle" src="https://picsum.photos/id/237/300/300" alt=""></div>     
                </div>
            </div>
        </div>
{# teamate 4 #}
        <div class=" my-2">
            <div class=" row infoTeam4 infoHidden mt-1">
                <div class="col">
                    <h2 class="  mb-3 mt-5 pProjet">Victor</h2>

                    <div class="desc my-5 pProjet">Victor, Castor, Alligator, Error. Ceci est notre projet. 404. Aucune infomation personelle ne serra dévoilé. Pika Pika ? Pika!</div>
                    
                    <div class="timinfo">
                        <label for="" class="pProjet">Rôle sur le projet</label>
                        <div class='roleprojet pProjet'>Animateur, Ambianceur ! Distributeur de bonne humeur, et de petite image 'kawaï'.
                        Principalement : page produit</div>
                    </div>

                    <div class='d-flex mt-6 justify-content-around sociconDiv'>
                        <span >
                            <img  class='socicons'src="{{asset('img/email.png')}}" alt="email icon">
                            <a href="mailto:eric.narbo@gmail.com" class='pProjet'>vgrenier78@gmail.com</a>
                            </span>
                        <span ><img  class='socicons pProjet'src="{{asset('img/tel.png')}}" alt="tel icon"> 06.61.01.14.47</span>
                         <span >
                        <img  class='socicons3 mx-2 mt-1'src="{{asset('img/linked.png')}}" alt="linkedIn icon">
                        <a href="https://fr.linkedin.com/in/victor-grenier?trk=people-guest_people_search-card">Visiter</a>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3 flip flip-card">
                    <div class='front Head'>  <img class="img-fluid  al3 rounded-circle" src="{{asset('img/victor.png')}}" alt=""></div> 
                    <div class='back Head'>  <img class="img-fluid  div1 rounded-circle" src="{{asset('img/panda.jpg')}}" alt=""></div>     
                </div>
            </div>
        </div>

{# teamate 5 #}
        <div class=" my-2">
            <div class=" row infoTeam5 infoHidden mt-1">
                <div class="col">
                    <h2 class="  mb-3 mt-5">Eric</h2>

                    <div class="desc my-5 pProjet">Mi-homme, mi-lama. A moitié chauve, à moitié vieux. Mais pleinement lui-même et toujours sur un projet... Le regarder trop longtemps peut épuiser.</div>
                    
                    <div class="timinfo">
                        <label for="" class="pProjet">Rôle sur le projet</label>
                        <div class='roleprojet pProjet'>L'essentiel du front, de l'UI, de l'UX et un brin de back-end sur les pages produits. Chef du projet.</div>
                    </div>

                    <div class='d-flex justify-content-around sociconDiv'>
                        <span >
                            <img  class='socicons'src="{{asset('img/email.png')}}" alt="email icon">
                            <a href="mailto:eric.narbo@gmail.com">abuunai@gmail.com</a>
                            </span>
                        <span ><img  class='socicons'src="{{asset('img/tel.png')}}" alt="tel icon"> 07.69.40.35.40</span>
                         <span >
                        <img  class='socicons3 mx-2 mt-1'src="{{asset('img/linked.png')}}" alt="linkedIn icon">
                        <a href="linkedin.com/in/eric-narbo-48a007198" class="ml-1">Visiter</a>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3 flip flip-card">
                    <div class='front Head'>  <img class="img-fluid  al3 rounded-circle" src="https://picsum.photos/seed/picsum/300/300" alt=""></div> 
                    <div class='back Head'>  <img class="img-fluid  div1 rounded-circle" src="https://picsum.photos/id/237/300/300" alt=""></div>     
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="clear3"></div>

{% endblock %}

