{% extends 'base.html.twig' %}
    
{% block body %}
    
    <section>
        <div id="carouselExampleCaptions" class="carousel slide mt-0 pt-0" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{asset('img/carousselleproduit.jpg')}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                <h5>Nos produits</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{asset('img/caroussellengagement.jpg')}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                <h5>Notre éthique</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{asset('img/carousselleartisan.jpg')}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                <h5>Artisans</h5>
                </div>
            </div>
            </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <div class="clear"></div>

    <section class='currentProducts'>
        <div class='text-center mb-5 mx-auto titleCurrent'>
            <span class= 'tCurText ml-5 reveal-1'>Produits du moment</span>
            <span class='ml-4 plusPro'>
                <a href="{{path('products_main_page')}}"><img src="{{asset('img/iconPlus.png')}}" alt="">
                <span class="plusWord ml-1 reveal-2">de produits</span>
                </a>
            </span>

        </div>

        <div class="row d-flex justify-content-around mx-auto mt-5 currentCards">
            <div class="card mt-5 ml-5 reveal" style="width: 18rem;">
                <a class= 'cardA' href="">
                    <img src="https://picsum.photos/id/20/800/600" class="card-img-top reveal-1" alt="...">
                    <div class="card-body">
                    <span class="currentPrice reveal-2"> 60,50 € </span>
                    <span class='note reveal-2'>
                        <i class="fas fa-star fas1"></i>
                        <i class="fas fa-star fas2"></i>
                        <i class="fas fa-star fas3"></i>
                        <i class="fas fa-star fas4"></i>
                        <i class="fas fa-star fas5"></i>
                    </span>
                        <p class="card-text cCarText reveal-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </a>
            </div>
            <div class="card mb-3 reveal" style="width: 18rem;">
                <a class= 'cardA' href="">
                    <img src="https://picsum.photos/id/15/800/600" class="card-img-top reveal-1" alt="...">
                    <div class="card-body">
                        <span class="currentPrice reveal-2"> 60,50 € </span>
                        <span class='note reveal-3'>
                            <i class="fas fa-star fas1"></i>
                            <i class="fas fa-star fas2"></i>
                            <i class="fas fa-star fas3"></i>
                            <i class="fas fa-star fas4"></i>
                            <i class="fas fa-star fas5"></i>
                        </span>
                        <p class="card-text cCarText reveal-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </a>
            </div>
            <div class="card mt-5 reveal" style="width: 18rem;">
                <a class= 'cardA' href="">
                    <img src="https://picsum.photos/id/10/800/600" class="card-img-top reveal-2" alt="...">
                    <div class="card-body">
                        <span class="currentPrice reveal-1"> 80,50 € </span>
                        <span class='note reveal-4'>
                            <i class="fas fa-star fas1"></i>
                            <i class="fas fa-star fas2"></i>
                            <i class="fas fa-star fas3"></i>
                            <i class="fas fa-star fas4"></i>
                            <i class="fas fa-star fas5"></i>
                        </span>
                        <p class="card-text cCarText reveal-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </a>
            </div>
            <div class="card mb-3 reveal" style="width: 18rem;">
                <a class= 'cardA' href="">
                    <img src="https://picsum.photos/id/200/800/600" class="card-img-top reveal-4" alt="...">
                    <div class="card-body">
                        <span class="currentPrice reveal-3"> 90,50 € </span>
                        <span class='note reveal-2'>
                            <i class="fas fa-star fas1"></i>
                            <i class="fas fa-star fas2"></i>
                            <i class="fas fa-star fas3"></i>
                            <i class="fas fa-star fas4"></i>
                            <i class="fas fa-star fas5"></i>
                        </span>
                        <p class="card-text cCarText reveal-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <div class="clear"></div>

    <section class="light">
        <div class="row d-flex justify-content-around reveal">
            <div class= 'col-3 text-center divLt'><h2 class='lightText reveal-4'>Lumière sur</h2> </div>

            <div class="col-4">
                <p class='nameArt text-center mt-1 reveal-2'>Abdel Maurice</p>
                <div class="descArt">
                    <p class ='dedeText text-center reveal-3'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi 
                        ex recusandae! Enim asperiores ullam, in dolorem quisquam itaque iusto deserunt
                        tempora, veniam dignissimos tenetur magnam earum adipisci quibusdam porro!
                    </p>
                    <button id='button'><a href="">En savoir <img src="{{asset('img/iconPlus.png')}}" width='17' alt=""></a></button>

                </div>
                
            </div>
            <div class="col-4"><img class=' crafterImg mx-auto reveal-4' src="https://picsum.photos/500/400" alt="..."></div>
        </div>
    </section>

    <div class="clear"></div>


    <section class="project reveal">
        
        <h2 class="projTitle reveal-2">Le projet</h2>
        <div class="row">
        <div class="col-5 projLeft">
            <div class=" ml-5 mt-2">
                <div style="max-width: 540px; " id="infoImg1">
                    <div class="row no-gutters">
                        <div class="col-md-4 ">
                        <img src="https://picsum.photos/300/300" class="card-img rounded-circle reveal-3" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body reveal-4">
                            <h5 class="card-title">La team</h5>
                            <p class="card-text">baaaaaaaaaaaaaaaaaaaaablablaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" d-flex justify-content-around my-2">
                <div class=" ml-3" style="max-width: 540px;" id="infoImg2">
                    <div class="row no-gutters">
                        <div class="col-md-4 infoImg2">
                        <img src="https://picsum.photos/300/300" class="card-img rounded-circle reveal-2" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body reveal-4">
                            <h5 class="card-title">Notre philosophie</h5>
                            <p class="card-text reveal-3">relation particulier/ artisan. Moins d'intermédiaires et blablabla</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" ml-2">
                <div class="mb-3 reveal-4" style="max-width: 540px;" id="infoImg3">
                    <div class="row no-gutters">
                        <div class="col-md-4 infoImg3">
                        <img src="https://picsum.photos/300/300" class="card-img rounded-circle" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Un truc écolo</h5>
                            <p class="card-text">La nature c'est super, la preuve, y'a plein de castors</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 projRight infoHidden">
            <div class="projInfo mt-5 reveal-1">
                <p class="infoHidden pi1 pi text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea modi soluta ducimus excepturi necessitatibus repellat atque dignissimos. Natus, obcaecati facere!</p>
                <p class="infoHidden pi2 pi text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione commodi incidunt debitis reprehenderit quibusdam ad in, quisquam necessitatibus fuga impedit distinctio minus deserunt reiciendis ducimus explicabo! Ducimus velit fuga amet?</p>
                <p class="infoHidden pi3 pi text-center">635zq4r65ve46rz4ztre6g elit. Ratione commodi incidunt debitis reprehenderit quibusdam ad in, quisquam necessitatibus fuga impedit distinctio minus deserunt reiciendis ducimus explicabo! Ducimus velit fuga amet?</p>
            </div>
        </div>
    </div>
    </section>

    <div class="clear2"></div>

{% endblock %}