{% extends 'base.html.twig' %} {% block body %}
<div class="nametitle">
    <div class="contentname">
        <h1 class="nameofcraftsman">{{ artisan.firstName }}</h1>
    </div>
</div>
<div class="description">
    <figure>
        <img src="{{asset('images/')}}{{ artisan.image }}" class="craftsmanpicture" alt="">
        <figcaption>
            <p class="caption">" Chaise'amille, c'est surtout le bonheur ! "</p>
        </figcaption>
    </figure>

    <ul class="list-group fiche">
        <li class="list-group-item describe">
            <i class="fas fa-star fasa1"></i>
            <i class="fas fa-star fasa2"></i>
            <i class="fas fa-star fasa3"></i>
            <i class="fas fa-star fasa4"></i>
            <i class="fas fa-star fasa5"></i>
        </li>
        <li class="list-group-item describe">{{ artisan.speciality }}</li>
        <li class="list-group-item describe">Basée à {{ artisan.city }}</li>
    </ul>
</div>
<div class="presentation">
    <p class="textpresentation">
        Chaise'amille, c'est surtout le bonheur, l'important du soi, le travail par moi-même. J'aime le bois depuis que je suis toute petite et je suis désormais artisane, ce qui me permet de mettre tout mon savoir faire et mon amour pour le bois à votre service
        ! Des chaises et des meubles seront présent dans ma boutique avec une règle d'or : tous fait avec le plus grand soin pour que chaque pièce soit unique. J'espère vous voir passer une commande pour me permettre de continuer à réaliser mon rêve en
        réalisant tous ces meubles, qui j'éspère rendent les gens heureux.
    </p>
</div>

<div class="titleofproducts">
    <hr class="separation">
    <h2 class="nameofproducts">Nos produits</h2>
    <hr class="separation">
</div>

<div class="craftsmanproducts">

    <div class="myproduct1">
        <div class="imagecontent"><img src="{{asset('images/')}}{{ artisan.image }}" class="productsmenu2" alt=""></div>

        <p class="thedescription">Chaise en bois</p>
        <div class="starsproducts">
            <i class="fas fa-star fasb1"></i>
            <i class="fas fa-star fasb2"></i>
            <i class="fas fa-star fasb3"></i>
            <i class="fas fa-star fasb4"></i>
            <i class="fas fa-star fasb5"></i>
        </div>
        <p class="cost">200€</p>
    </div>

    <div class="myproduct1">
        <div class="imagecontent"><img src="{{asset('images/')}}{{ artisan.image }}" class="productsmenu2" alt=""></div>


        <p class="thedescription">Table à manger avec chaises</p>
        <div class="starsproducts">
            <i class="fas fa-star fasc1"></i>
            <i class="fas fa-star fasc2"></i>
            <i class="fas fa-star fasc3"></i>
            <i class="fas fa-star fasc4"></i>
            <i class="fas fa-star fasc5"></i>
        </div>
        <p class="cost">1500€</p>
    </div>

    <div class="myproduct1">
        <div class="imagecontent"><img src="{{asset('images/')}}{{ artisan.image }}" class="productsmenu2" alt=""></div>


        <p class="thedescription">Table à manger pour 4 à 8 personnes</p>

        <div class="starsproducts">
            <i class="fas fa-star fasd1"></i>
            <i class="fas fa-star fasd2"></i>
            <i class="fas fa-star fasd3"></i>
            <i class="fas fa-star fasd4"></i>
            <i class="fas fa-star fasd5"></i>
        </div>
        <p class="cost">800€</p>
    </div>

</div>
{% endblock %}