{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1 class="titreallproduct">Tous nos Produits  </h1><hr>

<div class='allproduct'>

        <tbody >
        {% for product in products %}
            <div class="testproduit">
                <div>{{ product.name }}</div>
                <div>{{ product.reference }}</div>
                <div>{{ product.price }} en €</div>
                <div>{{ product.materials }}</div>
                <div>{{ product.stock }}</div>
                <div>{{ product.description }}</div>
                <div><img src="{{asset('images/')}}{{ product.image }}" style="width:75px;max-height: 75px;"></div>
            </div>
            {% if loop.index % 3 == 0 %} ma bite <br> <br><br><br> test  {% endif %}
     {% endfor %}
        </tbody>
        
</div>

{% endblock %}
