{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1 class="titreallproduct">Tous nos Produits  </h1><hr>

<div class='allproduct'>
        {% for product in products %}
            <div class="testproduit">
                  <div>{{ product.name }}</div>
                <div>{{ product.reference }}</div>
                <div>{{ product.price }} en €</div>
                <div>{{ product.materials }}</div>
                <div>{{ product.stock }}</div>
                <div>{{ product.description }}</div>
                <div><img src="{{asset('images/')}}{{ product.image }}" style="width:75px;max-height: 75px;"></div>
               <a href="{{ path('cart_add', {'id': product.id}) }} " class="btn btn-info" >Ajouter au panier
                   <i class="fas fa-shopping-cart mr-1"></i>
               </a>
            </div>
            {% if loop.index % 3 == 0 %} <br> <br><br><br> test  {% endif %}
     {% endfor %}
      
        
</div>

{% endblock %}
