{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1 class="titreallproduct">Tous nos Produits  </h1><hr>

<div class="testflex">
        {% for product in products %}
        
            <div class="salutccoll">
                <div class="card cardproduct" style="width: 18rem;">
                    <img src="{{asset('images/')}}{{ product.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price }}€</p>
                        <p class="card-text">{{ product.stock }}</p>
                        <p class="card-text">{{ product.reference }}</p>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.materials }}</p>
                        <a href="#" class="btn btn-primary">Ajouter au Panier</a>
                     </div>
                </div>
             </div>
            {% if loop.index % 3 == 0 %} 
        </div>  <hr>   <div class="testflex">  {% endif %}
      
     {% endfor %}
      


{% endblock %}
