{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Reference</th>
                <th>Prix</th>
                <th>Matériaux</th>
                <th>Catégories</th>
                <th>Type</th>
                <th>Stock</th>
                <th>Description</th>

                <th>Artisan</th>

                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
        {% if is_granted('ROLE_ARTISAN') %}
        {% if product.user.id == app.user.id %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.materials }}</td>
                <td>{{ product.categorie }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.user.username}}</td>
                <td><img src="{{asset('images/')}}{{ product.image }}" style="width:75px;max-height: 75px;"></td>
                <td>

                    <a href="{{ path('product_show', {'id': product.id}) }}">Afficher</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                    
                   
          
                </td>
            </tr>
        {% endif %}
        {% endif %}
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Ajouter un nouveau produit</a>
{% endblock %}
