{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Reference</th>
                <th>Price</th>
                <th>Picture_one</th>
                <th>Picture_two</th>
                <th>Picture_three</th>
                <th>Materials</th>
                <th>Catégories</th>
                <th>Type</th>
                <th>Stock</th>
                <th>Description</th>

                <th>Artisan_company</th>
                <th>Artisan_name</th>
                <th>Artisan_picture</th>

                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
        {% if is_granted('ROLE_ARTISAN') %}
        {% if product.user.id == app.user.id %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.pictureOne }}</td>
                <td>{{ product.pictureTwo }}</td>
                <td>{{ product.pictureThree }}</td>
                <td>{{ product.materials }}</td>
                <td>{{ product.categorie }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.artisanCompany }}</td>
                <td>{{ product.artisanName }}</td>
                <td>{{ product.artisanPicture }}</td>
                <td><img src="{{asset('images/product/')}}{{ product.image }}" style="width:75px;max-height: 75px;"></td>
                <td>

                    <a href="{{ path('product_show', {'id': product.id}) }}">Afficher</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                    
                   
                    <a href="{{ path('cart_add', {'id': product.id}) }}"  class="btn btn-success float-right">ajout
                         <i class="fas fa-shopping -cart mr-1">
                         ajouter
                    </a>

                </td>
            </tr>
        {% endif %}
        {% endif %}
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Ajouter un nouveau produit</a>
{% endblock %}
