 <nav class=" row navbar navbar-expand-lg navbar-light fixed-top d-flex justify-content-around">
    
    <div class="col-3">
        <a class="" href="/"><img src="{{asset ('img/logo.png') }}" alt="Art'I'Made, vous avez la main" style="width:35%"></a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" col-9 collapse navbar-collapse" id="navbarSupportedContent">
        <ul class=" navbar-nav mr-5">
            

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{path('products_main_page')}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produits
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Meubles</a>
                    <a class="dropdown-item" href="#">Décoration</a>
                    <a class="dropdown-item" href="#">Bijoux</a>
                    <a class="dropdown-item" href="#">Jouets</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{path('artisans')}}">Artisans</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{path('team')}}">L'équipe</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{path('contact')}}">Nous contacter</a>
            </li>


        </ul>

        
            <form class=" form-inline my-2 my-lg-0 mx-5">
                <input class="form-control mr-sm-2 searchInput icon" type="search" placeholder="Rechercher" aria-label="Search" name"searchBar">
                <button class="searchButton icon" type="search"><img src="{{asset('img/loupe.png')}}" width="20" alt=""></button>
            </form>
            <div class=" col-1 navcons">
                <span class="log icon"><a href="{{path('log')}}"><img src="{{asset('img/log.png')}}" width="40" alt=""></a></span>
                <span class="cart icon"><a href="{{path('cart')}}"><img src="{{asset('img/cart.png')}}" width="40" alt=""></a></span>
            </div>
        
    </div>

</nav>