 <nav id= 'topPage' class=" row navbar navbar-expand-lg navbar-light d-flex justify-content-around">
    <div class="col-3">
        <a class="" href="/"><img src="{{asset ('img/logo.png') }}" alt="Art'I'Made, vous avez la main" style="width:35%"></a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" col-9 collapse navbar-collapse" id="navbarSupportedContent">
        <ul class=" navbar-nav mr-5">
            <li class="nav-item dropdown ">
        <a class="nav-link products" href="#" id="navDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produits
        </a>
        
      </li>

        <div class="testyo"></div>


            <li class="nav-item">
                <a class="nav-link" href="{{path('artisans')}}">Artisans</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{path('team')}}">L'équipe</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{path('contact')}}">Nous contacter</a>
            </li>

        </ul>

        
            <form class=" form-inline my-2 my-lg-0 mx-5">
                <input class="form-control mr-sm-2 searchInput icon" type="search" placeholder="Rechercher" aria-label="Search" name="searchBar">
                <button class="searchButton icon" type="search"><img src="{{asset('img/loupe.png')}}" width="20" alt=""></button>
            </form>
            <div class=" col-1 navcons">
                <span class="log icon" id="loggin"><a href="{{path('fos_user_security_login')}}"><img src="{{asset('img/log.png')}}" width="40" alt=""></a></span>
                <span class="cart icon"><a href="{{path('cart')}}"><img src="{{asset('img/cart.png')}}" width="40" alt=""></a></span>

                {% if is_granted('ROLE_ARTISAN') %}

                    <span class="store icon"><a href="{{path('product_index')}}"><img src="{{asset('img/store.png')}}" width="40" alt=""></a></span> 

                {% else %}
                {% endif %}
                
            </div>
    </div>


</nav>
<div class="row pl-1 testContent reveal">
    <div class=" col-1 offset-3 d-flex flex-column pl-4 pt-4 text-white nav2 subMenu1 infoHidden">
       <li class="subMenuA"><a href="">Meubles</a></li>
       <li  class="subMenuB"><a href="">Décoration</a>
       <li  class="subMenuC"><a href="">Bijoux</a></li>
       <li  class="subMenuD"><a href="">Jouets</a></li>
    </div>
    <div class=" col-1 d-flex flex-column pl-4 pt-4 text-white nav2 subMenu2 infoHidden">
        <li><a href="">Tables</a></li>
        <li><a href="">Chaises</a></li>
        <li><a href="">Bureaux</a></li>
        <li><a href="">Etagères</a></li>
        <li><a href="">Armoires</a></li>
     </div>
     <div class=" col-1 d-flex flex-column pl-4  text-white nav2 subMenu2b infoHidden">
        <li><a href="">Poteries</a></li>
        <li><a href="">Luminaires</a></li>
        <li><a href="">Décorations murales</a></li>
        <li><a href="">Bougies</a></li>
     </div>
     <div class=" col-1 d-flex flex-column pl-4 pt-4 text-white nav2 subMenu2c infoHidden">
        <li><a href="">Bagues</a></li>
        <li><a href="">Bracelets</a></li>
        <li><a href="">Colliers</a></li>
        <li><a href="">Tête</a></li>
     </div>
     <div class=" col-1 d-flex flex-column pl-4 pt-4 text-white nav2 subMenu2d infoHidden">
        <li><a href=""></a> Figurines</li>
        <li><a href=""></a> Jeux</li>
        <li><a href=""></a> Peluches</li>
        <li><a href=""></a> Puzzle</li>
     </div>
    

        
    
</div>
