 <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                <a class="navbar-brand" href="/">LOGO </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">NomDuSite <span class="sr-only">(current)</span></a>
                        </li>
                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Produits
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Meubles</a>
                            <a class="dropdown-item" href="#">Décoration</a>
                            <a class="dropdown-item" href="#">Bijoux</a>
                            <a class="dropdown-item" href="#">Jouets</a>
                            
                        
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{path('artisans')}}">Artisans</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{path('team')}}">L'équipe</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{path('contact')}}">Nous contacter</a>
                        </li>


                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Trouver</button>
                    </form>
                    <span class="log"><a href="{{path('log')}}"><img src="{{asset('img/log.png')}}" width="50" alt=""></a></span>
                    <span class="cart"><a href="{{path('cart')}}"><img src="{{asset('img/cart.png')}}" width="50" alt=""></a></span>
                </div>
            </nav>