{% extends 'base.html.twig' %}

{% block title %}Artisan index{% endblock %}

{% block body %}
        <header>
        <hr class="lign">
        <h1 class="titleartisan">Nos artisans</h1>
        <hr class="lign">
    </header>
{% for artisan in artisans %}
            <div class="row1">
                <a id="crafts1" class="card craftsman" href="{{ path('artisan_show', {'id': artisan.id}) }}" style="width: 15rem;">
                    <div class="container-img">
                        <img src="{{asset('images/')}}{{ artisan.image }}" class="card-img-top img-pres" alt="...">
                    </div>

                    <div class="card-body spacecard">
                        <h5 class="card-title namecrafts">{{ artisan.firstName }}</h5>
                        <hr class="betweenlign">
                        <p class="card-text jobtown"> {{ artisan.speciality }} - {{ artisan.city }}</p>
                    </div>
                </a>
            </div> 
    {# {% if loop.index % 3 == 0 %}  #}
           <hr>   {#<div class="boucle_art">  {% endif %}</div> #}
{% endfor %}

{% endblock %}
